@inherits LayoutComponentBase


        @foreach (var tech in technologies)
        {
            <div>
                @if (!string.IsNullOrEmpty(tech.Link))
                {
                    <a href="@tech.Link" target="_blank" class="relative mx-auto flex w-full cursor-pointer items-center justify-between rounded-xl border bg-[#f8f9fa] px-4 py-2 font-semibold text-blue-900 duration-200 hover:bg-[#f2f3f5] motion-reduce:transition-none dark:border-neutral-800 dark:bg-[#161617] dark:text-white dark:hover:border-neutral-700 dark:hover:bg-[#202021]">
                        <img class="@($"{tech.Class} h-8 w-8 rounded-md")" loading="lazy" width="32" height="32" src="@tech.Icon" alt="@tech.Name" />
                        <span class="font-semibold">@tech.Name</span>
                    </a>
                }
                else
                {
                    <div class="relative mx-auto flex w-full cursor-pointer items-center justify-between rounded-xl border bg-[#f8f9fa] px-4 py-2 font-semibold text-blue-900 duration-200 hover:bg-[#f2f3f5] motion-reduce:transition-none dark:border-neutral-800 dark:bg-[#161617] dark:text-white dark:hover:border-neutral-700 dark:hover:bg-[#202021]">
                        <img class="@($"{tech.Class} h-8 w-8 rounded-md")" loading="lazy" width="32" height="32" src="@tech.Icon" alt="@tech.Name" />
                        <span class="font-semibold">@tech.Name</span>
                    </div>
                }
            </div>
        }
    <p class="mt-9 text-center  dark:text-white text-xl font-semibold">...and many others!</p>


@code {
    // Define sparkles variable
    string sparkles = "/sparkles.svg";
    // Define technologies variable
    List<Technology> technologies = new List<Technology>
    {
        new Technology { Name = "C#", Icon = "images/icons/cpp.svg", Link = "https://learn.microsoft.com/en-us/dotnet/csharp/", Class = "cpp" },
        new Technology { Name = "Blazor", Icon = "images/icons/blazor.svg", Link = "https://sqlpey.com/blazor", Class = "blazor" },
        new Technology { Name = "Blazor WebAssembly", Icon = "images/icons/webassembly.svg", Link = "https://sqlpey.com/webassembly", Class = "blazor webassembly" },
        new Technology { Name = ".NET Core", Icon = "images/icons/net-core.svg", Link = "https://sqlpey.com/NET-core", Class = "NET-core" },
        new Technology { Name = "Microsoft SQL SERVER", Icon = "images/icons/sql-server.svg", Link = "https://sqlpey.com/sql-server", Class = "sql-server" },
        new Technology { Name = "MySQL", Icon = "images/icons/mysql.svg", Link = "https://sqlpey.com/mysql", Class = "MySQL" },
        new Technology { Name = "PostgreSQL", Icon = "images/icons/postgresql.svg", Link = "https://sqlpey.com/postgresql", Class = "cpp" },
        new Technology { Name = "Docker", Icon = "images/icons/docker.svg", Link = "https://sqlpey.com/mysql", Class = "text-white" },
        new Technology { Name = "Linux", Icon = "images/icons/linux.svg", Link = "https://sqlpey.com/linux", Class = "linux" },
        new Technology { Name = "PuTTY", Icon = "images/icons/putty.svg", Link = "https://sqlpey.com/PuTTY", Class = "PuTTY" },
        new Technology { Name = "Github", Icon = "images/icons/github.svg", Link = "https://sqlpey.com/github", Class = "github" },
        new Technology { Name = "Git", Icon = "images/icons/git.svg", Link = "https://sqlpey.com/git", Class = "git" },
        new Technology { Name = "Tailwindcss", Icon = "images/icons/tailwindcss.svg", Link = "https://sqlpey.com/tailwind", Class = "tailwind" },
        new Technology { Name = "NEXT.JS", Icon = "images/icons/next.svg", Link = "https://sqlpey.com/javascript", Class = "next" },
        new Technology { Name = "C++", Icon = "images/icons/cpp.svg", Link = "https://sqlpey.com/mysql", Class = "cpp" },
        new Technology { Name = "Figma", Icon = "images/icons/figma.svg", Link = "https://sqlpey.com/figma", Class = "figma" },
        new Technology { Name = "Wordpress", Icon = "images/icons/wordpress.svg", Link = "https://sqlpey.com/Wordpress", Class = "Wordpress" },
        new Technology { Name = "Discord JS", Icon = "images/icons/discordjs.svg", Link = null, Class = "tech2" }
        // Add other technologies as needed
    };

    // Define Technology class
    public class Technology
    {
        public string Name { get; set; }
        public string Icon { get; set; }
        public string Link { get; set; }
        public string Class { get; set; }
    }
}
